<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ Titulo }}</title>
    <link rel="stylesheet" href="../static/estiloCadClientes.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../static/carrosel.js"></script>
    <link href="grid/simple-grid.min.css" rel="stylesheet">
</head>
<body>
<header class="cabecalho">

    <div>
        <a href="/home"> <img  class="Logo" src="../static/Imagens/logo.png" width="150px"> </a>

        <a href="/catalogo" class="menu__link">CATÁLOGO</a>
        <a href="/locacao" class="menu__link">LOCAÇÃO</a>
        <a href="/clientes" class="menu__link">CLIENTES</a>
    </div>

</header>
<h1 class="texto">CADASTRAR CLIENTES</h1>
<form class="form" action="/cadastrarCliente" method="post">
    <img class="imgLogin" src="../static/Imagens/logo2.png" alt="Logo" width="200px">
        <div class="flex">
            <label>
                <input id="nome" name="nome" class="input" type="text" placeholder="Nome" required="">
            </label>
        </div>

    <label>
        <input id="cpf" name="cpf" class="input" type="number" placeholder="CPF" required="">
    </label>

    <label>
        <input id="email" name="email" class="input" type="email" placeholder="Email" required="">
    </label>
    <label>
        <input id="telefone" name="telefone" class="input" type="number" placeholder="Telefone" required="">
    </label>
    <label>
        <input id="endereco" name="endereco" class="input" type="text" placeholder="Endereço" required="">
    </label>

    <button class="submit">Cadastrar </button>
</form>

</body>
</html>