<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ Titulo }}</title>
    <link rel="stylesheet" href="../static/estiloClientes.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../static/carrosel.js"></script>
    <link href="grid/simple-grid.min.css" rel="stylesheet">
</head>
<body>
    <header class="cabecalho">

        <div>
            <a href="/home"> <img class="Logo" src="../static/Imagens/logo.png" width="150px"> </a>

            <a href="/catalogo" class="menu__link">CATÁLOGO</a>
            <a href="/locacao" class="menu__link">LOCAÇÃO</a>
            <a href="/clientes" class="menu__link">CLIENTES</a>

        </div>

    </header>


    <a href="/cadastrarCliente" class="btn-23">
      <span class="text">Cadastrar clientes</span>
      <span aria-hidden="" class="marquee">Cadastrar clientes</span>
    </a>


 <div class="containertabela">
     <table class="tabela">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Telefone</th>
            <th>Endereço</th>
            <th></th>
        </tr>
      </thead>

      <tbody>
        {% for Cliente in ListaCliente %}
            <tr>
                <td>{{ Cliente [1] }}</td>
                <td>{{ Cliente [2] }}</td>
                <td>{{ Cliente [3] }}</td>
                <td>{{ Cliente [4] }}</td>
                <td>{{ Cliente [5] }}</td>
                <td>
                    <a href="/editarCliente/{{ Cliente[0] }}"><img class="icone" src="/static/Imagens/editar.png"></a>
                    <a href="/excluirCliente/{{ Cliente[0] }}"><img class="icone" src="/static/Imagens/excluir.png"></a>
                </td>
            </tr>
        {% endfor %}
      </tbody>

    </table>
    </div>

</body>
</html>