<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ Titulo }}</title>
    <link rel="stylesheet" href="../static/estilosobrenos.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../static/carrosel.js"></script>
    <link href="grid/simple-grid.min.css" rel="stylesheet">
</head>

<header class="cabecalho">
    <div>
        <a href="/home"> <img class="Logo" src="../static/Imagens/logo.png" width="150px"> </a>

        <a href="/catalogo" class="menu__link">CATÁLOGO</a>
        <a href="/locacao" class="menu__link">LOCAÇÃO</a>
        <a href="/clientes" class="menu__link">CLIENTES</a>

    </div>

</header>

<body>

    <div class="labelprincipal">
        <div class="textsobre">
            <span class="label">
                Sobre
            </span>

            <span class="label2">
                Nós
            </span>
        </div>


            <div>
                <img class="imgsobrenos" src="../static/imgsobrenos.png">
            </div>
    </div>

    <p class="paragrafotext"> Tudo o que fazemos está enraizado no cinema. O cinema desempenha um papel cada vez mais <br> importante na vida das pessoas que amam esse universo. É central para todas as  culturas e <br> sociedades, e é essencial para o nosso entretenimento e felicidade.</p>

    <div class="corposobrenos">
        <h2 class="label3" > NOSSO PROPÓSITO </h2>
        <img class="corpoimg" src="../static/sobrenosimg.png">
    </div>

    <p class="textcorpo"> Nosso propósito, 'Através do cinema', orienta a maneira como administramos nossa empresa e como nos <br> envolvemos com nossos consumidores. Sempre nos esforçaremos para expandir os limites da possibilidade humana, <br> para incluir e unir as pessoas no cinema e para criar um mundo mais incrível e alegre.</p>

    <div class="corposobrenos">
        <h2 class="label3" > NOSSA MISSÃO </h2>
        <img class="corpoimg" src="../static/corpoimg2.png">
    </div>

    <p class="textcorpo2"> Temos uma missão clara: ser a melhor marca de cinema do mundo. Todos os dias, trabalhamos para criar e<br> tornar cada vez mais facil cadastrar diversas variedades do mundo do cinema, e oferecer o melhor serviço e <br> experiência do consumidor. Somos os melhores quando somos os líderes confiáveis, inclusivos e sustentáveis <br> em nossa indústria.</p>
    
    
    <div class="container">

      <div class="square s-1">
          <img class="logorodape" src="../static/Imagens/LogoBranca.png">

          <div class="rodapesuporte">

            <div>
                <p class="suporte">Suporte</p>
                <div slot="accordion-header" class="puma-footer__section__title2"></div>
                <a href="https://wa.me/5518991519293"> <p class="email">contato@hotmail.com</p> </a>
                <a href="https://wa.me/5518991519293"> <p class="email">(18) 99122 - 6830</p> </a>

            </div>

              <div>
                  <p class="Sobre"> Sobre a CineMagic</p>
                  <div slot="accordion-header" class="puma-footer__section__title4"></div>
                  <a href="" class="Sobre2"> Sobre a CineMagic </a>
              </div>

              <div class="rodapesuporte2">
                  <p class="redesociais">Redes Sociais</p>
                  <div slot="accordion-header" class="puma-footer__section__title3"></div>
                  <div class="marcas1">
                  <a href="https://www.facebook.com/leone.legalh"> <img  class="marcas" src="/static/face.png"> </a>
                      <a href="https://www.instagram.com/leone.sbarbearia_/"> <img class="marcas" src="/static/instagram.png"> </a>
                  <a href="https://wa.me/18991519293/?text=Olá você que é o Leone do boquete parafuso????😋🥵😈🐠⚽🐱"> <img class="marcas" src="/static/whatsapp.png"> </a>
                  </div>
              </div>
          </div>
      </div>

    </div>

</div>

    <div class="puma-footer__section__title"><!----><!----></div>

    <div class="copyright">
        <div class="copyright">
            <p class="copyrightesc">© Copyright Cinelux, 2024 – Todos os direitos reservados. </p>
        </div>
    </div>

</body>
</html>